<%- include ("./partials/header") %>
<nav class="navbar home-navbar bg-light">
    <a class="navbar-brand ml-4" id="nav-logo" href="/">
        S
    </a>
</nav>

<div class="container text-center home-container">
    <h1 id="logo">SOCIALLY</h1>
    <p class="text-muted">Discover, Connect, Develop</p>

    <div class="btn-container">
        <a href="/signup" class="btn btn-info px-4 py-2">Get Started</a>
        <a href="/login" class="btn btn-secondary px-4 py-2">Log in</a>
    </div>
</div>



<%- include ("./partials/footer") %>