<%- include("./partials/header") %>

<nav class="navbar bg-light">
    <a class="navbar-brand ml-4" id="nav-logo" href="/">
        S
    </a>
</nav>

<h1>PROFILE</h1>



<%- include("./partials/footer") %>