body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 5em;
}

#nav-logo {
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.home-navbar {
    border-bottom: 0;
    padding: 10px;
}

.navbar {
    padding: 5px;
}

.home-container {
    padding: 8%;
}

.signup-form {
    width: 40%;
    margin: auto;
}
